### Import needed libraries

In [2]:
spark.stop()
sc.stop()

In [3]:
from pyspark import SparkConf, SparkContext
from pyspark.sql.functions import col, asc, desc
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
conf = SparkConf().setAppName("Jupyter: Stack Posts")
conf = conf.setMaster("spark://david-hdp:7077")
sc = SparkContext(conf=conf)
spark = SparkSession(sc)
spark

### Import data and create schema

In [4]:
schema = StructType([
    StructField("tag", StringType(), True),
    StructField("fecha", StringType(), True),
    StructField("count", IntegerType(), True),
    StructField("score", IntegerType(), True),
    StructField("answers", IntegerType(), True)])
df = spark.read.csv('stof/clean/mysql_clean.csv', schema=schema)

In [13]:
df.show()

+----+-------+-----+-----+-------+
| tag|  fecha|count|score|answers|
+----+-------+-----+-----+-------+
|.net|2010-03| 1073| 6385|   2768|
|.net|2011-02| 1036| 4408|   2101|
|.net|2011-03| 1030| 5493|   2192|
|.net|2010-08| 1018| 5003|   2443|
|.net|2011-05| 1004| 4015|   1906|
|.net|2011-04|  987| 3718|   1977|
|.net|2011-01|  976| 4230|   2058|
|.net|2011-07|  971| 3324|   1826|
|.net|2010-02|  967| 5449|   2567|
|.net|2010-07|  954| 4247|   2268|
|.net|2011-06|  945| 3536|   1836|
|.net|2010-09|  937| 4331|   2086|
|.net|2011-08|  927| 3535|   1724|
|.net|2010-04|  925| 5222|   2227|
|.net|2010-06|  924| 4372|   2074|
|.net|2010-11|  901| 4120|   1931|
|.net|2010-05|  891| 4744|   2137|
|.net|2010-12|  877| 3567|   1881|
|.net|2008-09|  875|15080|   4689|
|.net|2010-01|  866| 5020|   2462|
+----+-------+-----+-----+-------+
only showing top 20 rows

In [22]:
df.registerTempTable('temp_table')
top10 = spark.sql('SELECT tag, sum(count) count, sum(score) score \
                        FROM temp_table where fecha >= "2016-02" \
                        GROUP BY tag \
                        ORDER BY count DESC \
                        LIMIT 10')
top10.show()

+----------+------+------+
|       tag| count| score|
+----------+------+------+
|javascript|482970|876320|
|        c#|436792|810352|
|      java|354105|644255|
|   android|352392|720040|
|    python|267364|498320|
|       c++|232816|677424|
|       php|213584|328408|
|       ios|181032|383838|
|         c| 91936|219344|
|      html| 91788|163830|
+----------+------+------+