In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
%matplotlib inline
sns.set()

In [2]:
nPrimeros = 7
# suma = suma.iloc[:nPrimeros].append(pd.Series([suma.iloc[nPrimeros:].sum()], index=['others'])) # a√±adir others
df = pd.read_csv('files/lang_count.csv')

In [5]:
display(df.iloc[:nPrimeros])
df.iloc[nPrimeros:].sum()

  lang   count
0   en   23474
1   ja   11501
2   es    8058
3   de    3180
4   tr    2999
5   fr    2743
6   pt    1963

lang      initarrunlthtlplkohivielfietdarozhnosvcshtcyuk...
 count                                                 7894
dtype: object